/*colors:

black #111
green #4CAF50
gray #f2f2f2
gray #ccc
white #FFFFFF
pink #F3D3BD
green #48E5C2;
#3F3F3F
sea green #C4D6B0
mintCream  #F5FFFA
purple #800080
PowderBlue #B0E0E6
light blue  #E6E6FA
*/

body {
    font-family: 'Oxygen', sans-serif;
}

body {
  background-color: #FFFFFF;
}
/* increase leading fore ease of reading*/
p {
  line-height: 1.5em;
}

h1 {
  background-color: #191970;
  text-align: center;
  padding: 1em;

}

h1 {
  color: #C4D6B0;
}
/* inline display of navigaion buttons*/
#toolbar {
  background-color: #191970;
  overflow: hidden;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #191970;
}
li {
  display: inline;
  margin-right: 6px;
  float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}
 a:active {
    background-color: #4CAF50;
}

h2 {
  color: #191970;
  }
/*Home page banner color with picture*/

/* Trying to style column
    .container1 {
  overflow: auto;
  border-width: 2px;
  border-color: none;
  text-align: left;
  margin: 0px auto 0px 0px;
  width: 620px;
background-color: white;
}
*/
/*styling user form*/
.usrform {
  padding: 10%;
}
/*content for sticky toolbar*/
.content {
   padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}
/* end javascript sticky toolbar*/
.wrappera{
			  display:grid;
			  grid-template-columns: 0.5fr 3fr 0.5fr;
			}
			.wrappera > div {
				background: #ddd;
				padding: 1em;
			}
			.wrappera > div:nth-child(odd){
				background: #eee;
			}

.wrapper{
			  display:grid;
			  grid-template-columns: 0.5fr 3fr 0.5fr;
			}
			.wrapper > div {
				background: #eee;
				padding: 1em;
			}
			.wrapper > div:nth-child(odd){
				background: #FFF;
			}
/*text area that shows what the spellcheck atrribute works with*/
#elements {

  border-width: 3px;
  border-color: #f2f2f2;
  border-style: solid;
  text-align: left;
  font-size: 100%;
  font-weight: bold;
  margin: 10px auto 10px auto;
  width: 475px;
  padding: 20px;
  background-color: #F5FFFA;
  background-color: hsla (0, 100%, 85%, 0.5);
}
/*end spellcheck attributes*/
img.align-right {
  float: right;
  margin-left: 10px;
}

img.align-center {
    margin: 10px, auto, 10px, auto;
}

  list{
  background-color: #eee;
}

.footer {
    background-color: #191970;
    padding: 3%;
    font-size: 60%;
    color: #ffffff;
    text-align: center;
    }

/* Style inputs with type="text", select elements and textareas */

/* Style the submit button with a specific background color etc */


/* Add a background color and some padding around the form */
.container {
    border-radius: 7px;
    background-color: #f2f2f2;
    padding: 16px;
}
